.banner {
  background-color: lightgrey;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 280px;

  position: relative;
  display: block;
  @media (min-width: 768px) {
    height: 280px;
  }

  .area {
    max-width: 1140px;
    min-height: 300px;
    margin: 0 auto;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      height: 300px;
    }

    .image {
      display: block;
      position: relative !important;
      width: 100% !important;
      height: 100% !important;

      img {
        position: relative !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
      }

      @media (min-width: 768px) {
        width: 220px !important;
        height: 300px !important;

        img {
          width: 220px !important;
          height: 300px !important;
          object-fit: contain !important;
        }
      }
    }

    .info {
      display: block;
      position: relative;
      margin-left: 16px;
      margin-top: 16px;
      max-width: 800px;

      .title {
        font-size: 1.6rem;
        text-shadow: 0px 2px 3px gray;
        margin-top: 8px;
      }

      .summary {
        margin: 0;
        padding: 8px 0;
        p {
          margin: 0;
          font-size: 0.9rem;
          line-height: 1.4rem;
        }
      }
    }
  }
}

.content {
  max-width: 1140px;
  min-height: calc(100vh - #{344px});
  margin: 0 auto;
  padding: 24px;
  padding-top: 72px;

  .sectionTitle {
    margin: 0;
    padding: 8px 0;
  }

  .infoList {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 32px;

    li {
      display: flex;
      border-bottom: 2px solid lightgrey;
      padding: 16px 0;

      .infoTitle {
        display: inline-block;
        width: 30%;
        font-weight: bold;
      }

      .infoValue {
        width: 70%;
        display: inline-block;
        color: darkgray;
      }
    }
  }

  .castList {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 32px;

    li {
      border-bottom: 2px solid lightgrey;
      padding: 8px 0;
      line-height: 50px;
      display: flex;

      .potrait {
        width: 50px;
        height: 50px;
        display: inline-block;
        overflow: hidden;
        border-radius: 25px;
        margin-right: 8px;
        background-color: lightgrey;

        img {
          position: relative !important;
          width: 50px !important;
          height: 50px !important;
          object-fit: cover;
        }
      }

      .person {
        display: inline-block;
        width: 40%;
      }

      .character {
        width: 40%;
        display: inline-block;
        color: darkgray;
      }
    }
  }

  .tvShowList {
    display: block;
    margin: 0;
    padding: 16px 0;
    color: gray;

    &:hover {
      color: black;
    }
  }
}
